#join {
    // height: 452px;
    background: transparent url(/img/puffPuff.jpg) no-repeat center center;
    background-size: cover;
    position: relative;

    h2 {
      color: rgba(0,0,0,0.7);
    }
}

.fields {

  padding: 2em;

  div {
    display: flex;
    flex-flow: row nowrap;
    flex-flow: column nowrap;


    & > *:last-child {
      flex-grow:1;
    }

    label {
      font-weight:bold;
      // width: 5em;
      // text-align: right;
      // margin-right: 1em;

    }
  }
  textarea {
    resize: none;
  }
}

.mobileOnly {
	display: none !important;
}

@media only screen and (max-width: 767px) {
	.noMobile {
		display: none !important;
	}

	.mobileOnly {
		display: block !important;
	}
}
