
@import '~styles/colors';


.message-input {
  flex-grow: 1;
  margin: 0.0em;
  margin-right: 0;

  &.cursor-input .characters-remaining {
    color: $brand-secondary-inactive;
  }


  input, textarea {
    resize: none;
    flex-shrink: 1;
    box-sizing: content-box;
    border: none;
    border-width:0;
    padding: 0.5em 0;
    outline-offset: none;
    background: rgba(0, 0, 0, 0.003);

    box-shadow: inset 0 -2px 0px $brand-primary-inactive;
    box-shadow: inset 0 0 0 black;
    border-bottom: 2px solid $brand-primary-inactive;

    color: $primary-inactive;
    color: $brand-primary-inactive;

    &::-webkit-input-placeholder {
    	font-style: italic;
    	font-weight: 300;
    	color: $secondary-inactive;
      color: rgba($brand-secondary-inactive, 0.5);
    }

    &:focus, &:hover {
      color: $primary;
      color: $brand-primary;
      box-shadow: inset 0 -2px 0px $brand-secondary;
      box-shadow: inset 0 0 0 black;
      border-bottom: 2px solid $brand-secondary;
      &::-webkit-input-placeholder {
      	font-style: italic;
      	font-weight: 300;
        color: $secondary;
        color: rgba($brand-secondary-inactive, 0.2);
      }
    }
  }
}  // a b c e d e f g h i j k l m n o p q r s t u v w x y z
