$primary: rgba(0,0,0,0.75);
$secondary: rgba(0,0,0,0.4);

$primary-inactive: rgba(0,0,0,0.5);
$secondary-inactive: rgba(0,0,0,0.2);


$brand-primary: rgba(29, 161, 242, 0.75);
$brand-secondary: rgba(29, 161, 242, 0.4);

$brand-primary-inactive: rgba(29, 161, 242, 0.5);
$brand-secondary-inactive: rgba(29, 161, 242, 0.75);
