$primary: rgba(0,0,0,0.75);
$secondary: rgba(0,0,0,0.4);

$primary-inactive: rgba(0,0,0,0.5);
$secondary-inactive: rgba(0,0,0,0.2);


$brand-primary: rgba(89, 203, 89, 1);
$brand-primary-inactive: rgba(89, 203, 89, 0.5);

$brand-secondary: rgba(14, 176, 76, 1);
$brand-secondary-inactive: rgba(14, 176, 76, 0.75);
