#intro {
    // height: 452px;
    background: transparent url(/img/breadBounty.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    background: rgba(0,0,0, 0);
}


.mobileOnly {
	display: none !important;
}

@media only screen and (max-width: 767px) {
	.noMobile {
		display: none !important;
	}

	.mobileOnly {
		display: block !important;
	}
}
