#menu {
    // height: 452px;
    background: transparent url(/img/blue-tangerine.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
}

.column {
  & > .container {
    flex-flow: column nowrap;
    align-items: stretch;
  }
}
